{% extends 'scripts/base.html' %}
{% load static %}
{% block content %}
    <div class='container'>
        <h1>anatomy of an applescript</h1>
        <div class='content-section m-2'>
            <p>First is the <span style="color:#F39C12;font-weight:bold">tell block</span>. 
            The tell block tells applescript what program to send commands to.</p>
        </div>
        <div>
            <img src="{% static "media/anatomy/tellblock.png" %}" alt="img could not load" class="img-fluid m-2">
        </div>
        <div class='content-section m-2'>
            <p>For some applications the tell block will only consist of the application. As we can see, this tell block also mentions
            the front window specifically. While you can target any open workspace, most of the scripts we'll cover her focus on the front
            workspace. For the sake of simplicity we'll consider the full tell block as pictured to be the standard tell block for QLab 4.
            You will also notice at the end of the tell block is a line that says <span style="color:#F39C12;font-weight:bold">end tell</span>. 
            End lines close off a level of scope. We'll talk more about scope when we discuss variables, the takeaway is that every level of indentation
            requires and end line.</p>
        </div>
        <div>
            <img src="{% static "media/anatomy/comment.png" %}" alt="img could not load" class="img-fluid m-2">
        </div>
        <div class='content-section m-2'>
            <p>The next line we see is a <span style="color:#F39C12;font-weight:bold">comment</span>. Single line comments begin with <span style="color:#F39C12;font-weight:bold">--</span>. This is simply 
            a note for the author to themselves, or any other future reader. They're normally used to explain how a section of code works. You can put 
            whatever you want in a comment as they are ignored by the compiler. You can also create a multiline comment using <br><span style="color:#F39C12;font-weight:bold">(*this is a <br>multiline comment*)</span> </p>
        </div>
        <div>
            <img src="{% static "media/anatomy/standardsuite.png" %}" alt="img could not load" class="img-fluid m-2">
        </div>
        <div class='content-section m-2'>
            <p>Terms with blue syntax highlighting are part of <span style="color:#F39C12;font-weight:bold">standard suite</span>. These are actions or classes that should be available
            across all applications that support applescript.</p>
        </div>
        <div>
            <img src="{% static "media/anatomy/qlabsuitevar.png" %}" alt="img could not load" class="img-fluid m-2">
        </div>
        <div class='content-section m-2'>
            <p>Terms with purple syntax highlighting are part of <span style="color:#F39C12;font-weight:bold">application suite</span>. Keep in mind different applications may reuse the same terms, however
            it's possible they will be implemented in a different manner. This is a minor worry for me since I mostly script for QLab.</p>
        </div>
        <div>
            <img src="{% static "media/anatomy/variable.png" %}" alt="img could not load" class="img-fluid m-2">
        </div>
        <div class='content-section m-2'>
            <p>Terms with green syntax highlighting are part of <span style="color:#F39C12;font-weight:bold">variables</span>. As you can see in the comment, the syntax for declaring a variable is 
            <span style="color:#F39C12;font-weight:bold">set variable_name to value</span>. Variables are available to the scope in which they are declared, and any scopes that are inside it. I'll unpack that a little more
            when we have a more complex example.</p>
            <p>Now that we've covered what makes up a simple applescript, lets modify one to do something else.</p>
        </div>

        <div style="margin-bottom:100px">
            <h3>
            <a href="{% url 'arm' %}" style="color:#F39C12; text-align:center;"> Continue to the next exercise.</a>
            </h3>
        </div>



    </div>
{% endblock content %}
