{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% comment %} <!-- Required meta tags --> {% endcomment %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% comment %} <!-- Bootstrap CSS --> {% endcomment %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% comment %} <!--
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> --> {% endcomment %}
    <link rel="stylesheet" type="text/css" href={% static 'scripts/bootstrap.min.css' %}>
{% block title %}
    {% if title %}
        <title>Applescript tutes {{ title }}</title>
    {% else %}
        <title>Applescript</title>
    {% endif %}
{% endblock title %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <a class="navbar-brand" href="{% url 'scripts-index' %}">robotlightsyou</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'scripts-index' %}">Home
                <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'howto' %}">How To</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Chapters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Template</a>
            </li>
            {% comment %} <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li> {% endcomment %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

            {% block jumbo %}
        <div class="jumbotron">
                <style>
                    {% comment %} #jum {color:red;} {% endcomment %}
                    #jum {text-align: center;font-size:7vh;}
                </style>
                <h1 id='jum'>QLab Applescript Tutorial</h1>
                {% comment %} <h1 class="display-3">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p> {% endcomment %}
            {% endblock jumbo %}
        </div>
    
    <div class="container">
        <div class='row'>
            <div class="col-md-8">
                {% block content %}{% endblock content %}
            </div>
    
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Chapters</h3>
        {% comment %} <!--          <p class='text-muted'>You can put any information here you'd like.--> {% endcomment %}
                    <p class='text'>Jump to a specific task
                        <ul>
                            <div class="list-group">
                                <a href="{% url 'arm' %}" class="list-group-item list-group-item-action">Create Disarm from Arm</a>
                                <a href="{% url 'howto' %}" class="list-group-item list-group-item-action">How to use this site</a>
                                <a href="{% url 'scripts-index' %}" class="list-group-item list-group-item-action">Return to the homepage</a>
                            </div>
                        </ul>
                    </p>
                </div>
            </div>     
        </div>   
    </div>
</body>