{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% comment %} <!-- Required meta tags --> {% endcomment %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% comment %} <!-- Bootstrap CSS --> {% endcomment %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={% static 'scripts/bootstrap.min.css' %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% block title %}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>applescript tutes</title>
    {% endif %}
{% endblock title %}
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-warning">
        <a class="navbar-brand" href="{% url 'scripts-index' %}">robot<span style="color:#375A7F;">lights</span>you</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            {% comment %} <li class="nav-item active">
                <a class="nav-link" href="{% url 'scripts-index' %}">home
                <span class="sr-only">(current)</span>
                </a>
            </li> {% endcomment %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'howto' %}">editor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">chapters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">template</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'resources' %}">resources</a>
            </li>
            </ul>
            {% comment %} <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> {% endcomment %}
        </div>
    </nav>

            {% block jumbo %}
        <div class="jumbotron">
                <style>
                    #jum {text-align: center;font-size:7vh;margin-top:75px;}
                </style>
                <h1 id='jum'>qlab <span style="color:#F39C12;font-weight:bold">applescript</span> tutorial</h1>
            {% endblock jumbo %}
        </div>
    
    <div class="container">
        <div class='row'>
            <div class="col-md-8">
                {% block content %}{% endblock content %}
            </div>
            {% comment %} Sidebar {% endcomment %}
            <div class="col-md-4">
                <ul>
                    <div class="list-group">
                        <span style="font-size:large, font-weight:bold; color:375A7F"><a href="#" class="list-group-item list-group-item-action active">chapters</a></span>
                        <a href="{% url 'arm' %}" class="list-group-item list-group-item-action">arm --> disarm</a>
                        <a href="{% url 'projmanager' %}" class="list-group-item list-group-item-action">projector manager</a>
                        <a href="{% url 'scope' %}" class="list-group-item list-group-item-action">scope</a>
                        <a href="{% url 'batchadjust' %}" class="list-group-item list-group-item-action">batch edits</a>
                        <a href="{% url 'bumplower' %}" class="list-group-item list-group-item-action">bump up --> lower</a>
                        <a href="{% url 'uselist' %}" class="list-group-item list-group-item-action">use list</a>
                        <a href="{% url 'addvideo' %}" class="list-group-item list-group-item-action">add video to fade</a>
                        <a href="{% url 'fadein' %}" class="list-group-item list-group-item-action">fadeout --> in</a>
                    </div>
                </ul>
            </div>     
        </div>   
    </div>
</body>