{% extends 'scripts/base.html' %}
{% load static %}
{% block jumbo %}
<div class="jumbotron bg-cover" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url({% static "media/workspace-hotkey.png" %})">
        <div class="container text-center text-lg-left">
        <style>
            h1 {font-size:8vw;
            text-align:center;}
        </style>
        <h1>robot <span style="color:#F39C12;font-weight:bold">lights</span> you</h1>
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="display-4">Learn to use applescript by hacking existing templates</h3>
            <p class="lead">Start with simple scripts. Modify them to suit your needs and learn the ins and outs. Work your way up to contributing new scripts.</p>
                    <span class="text-center d-inline-block">
                    <a class="btn btn-primary btn-lg w-100" href="{% url 'howto' %}" role="button">Read more</a>
                    {% comment %} <p class="text-muted">10 Planned Lessons</p> {% endcomment %}
                    </span>
                </div>
                <div class="col-lg-4 align-items-center d-flex">
                    <img src="{% static "media/beaker.png" %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>  
{% endblock jumbo %}
{% block content %}

    <div class='container'>
        <style>h2 {text-align:center;}</style>
        <h2><strong>welcome to the applescript tutorial</strong></h2>
        <p>In the beginning there was the work of others. Smarter, more experinced people 
        that came before and shared their knowledge. I started with simple scripts that filled
        needs missing in the production release of QLab. After reading a few and integrating them  
        into my workflow the day came when I needed something new. 
        </p>
        <p>First I tried opening the editor and making something of my own. This was scary and 
        I didn't really nderstand the moving pieces, and I failed miserably. The next time I needed something 
        I decided to try and hack one of the scripts I already had. I changed a few variables, 
        values, and properties, et voila - I had a new tool. This was the beginning of a 
        bountiful relationship.</p>
        <p>That was 5 years ago. Since then I've discovered a number of great resources, 
        and built my own template file to improve my everyday workflow. This site serves as a walkthrough of 
        that file, as well as a guide to learn how to hack together applescripts to fill 
        the specific needs of your venue.</p>
    </div>

    
{% endblock content %}