{% extends 'scripts/base.html' %}
{% load static %}
{% block content %}
    <div class='container'>
        <h1>convert set armed to set disarmed</h1>
        <div>
            <img src="{% static "media/tutes/disarm/armed_def.png" %}" alt="img could not load" class="img-fluid m-2">
        </div>
        <div class='content-section m-2'>
            <p>Here we see armed is a boolean property of a cue object, which means it's only possible states are 
            <span style="color:#F39C12;font-weight:bold">true</span> and <span style="color:#F39C12;font-weight:bold">false.</span></p> 
        </div>
        <div>
            <img src="{% static "media/tutes/disarm/armed.png" %}" alt="img could not load" class="img-fluid m-2">
        </div>
        <div class='content-section m-2'>
            <p>REcall the options available for boolean propertires and modify the third line of this
            script so that it changes the selected cue to disarmed instead of armed.</p><p><span style="color:#F39C12;font-weight:bold">Continue scrolling when you have a solution.</span>.</p>
        </div>
        <div>
            <img src="{% static "media/tutes/disarm/disarmed.png" %}" alt="img could not load" class="img-fluid m-2">
        </div>

        <div style="margin-bottom:100px">
            <h3>
            <a href="{% url 'projmanager' %}" style="color:#F39C12; text-align:center;"> Continue to the next exercise.</a>
            </h3>
        </div>



    </div>
{% endblock content %}
