{% extends 'scripts/base.html' %}
{% load static %}
{% block content %}
    <div class='container'>
        <h1>fade a fade</h1>
        <div>
            <img src="{% static "media/tutes/fadein/challenge.png" %}" alt="img could not load" class="img-fluid m-2">
        </div>
        <div class='content-section m-2'>
            <p>In this script we'll make a <span style="color:#F39C12;font-weight:bold">fade in</span> from a <span style="color:#F39C12;font-weight:bold">fade out</span>. 
            We start with out completed fade out from the last exercise. How will a fade in function differently than a fade out? First we make a decision about process: 
            we will set all of our parameters in the target cue, then when we run the script it will transfer those settings to the fade and zero out the target cue. To do 
            that we'll need to create variables to store the levels while we transfer them. Read the dictionary entry for <span>getLevel</span>. It uses the same syntax as 
            <span>setLevel</span>. Use <span>getLevel</span> to check the user's settings, and then reapply them after the new fade has been created.</p> 
        </div>

        <div style="margin-bottom:100px">
            <h3 style="color:#F39C12; text-align:center;">Scroll down for solutions.</h3>
        </div>

        <div class="container">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#addvideosol" id="reveal">Show code</button> 
            <div class='collapse m-2' id='addvideosol'>
                <div>
                    <img src="{% static "media/tutes/fadein/sol.png" %}" alt="img could not load" class="img-fluid m-2">
                </div>
       
                <pre>

tell application id "com.figure53.QLab.4" to tell front workspace
	
	
    set userDuration to 5
    set originalCue to last item of (selected as list)
    set originalCueType to q type of originalCue

    if originalCueType is in {"Group", "Audio", "Video"} then
        make type "Fade"
        set newCue to last item of (selected as list)
        set qnameStr to "Fade and Stop: " & q name of originalCue
        set properties of newCue to {cue target:originalCue, duration:userDuration, q name:qnameStr}
        newCue setLevel row 0 column 0 db -120
        
        set stop target when done of newCue to true
        if q type of originalCue is "video" then
            tell front workspace to tell paent of newCue
                set do opacity of newCue to true
                set opacity of newCue to 0
            end tell
        end if
        
    else if originalCueType is "Fade" then
        set originalCueTarget to cue target of originalCue
        make type "Fade"
        set newCue to last item of (selected as list)
        set qnameStr to "Fade and Stop: " & q name of originalCue
        set properties of newCue to {cue target:originalCueTarget, duration:userDuration, q name:qnameStr, stop target when done:true}
        newCue setLevel row 0 column 0 db -120
        if q type of originalCueTarget is "Video" then
            tell front workspace to tell paent of newCue
                set do opacity of newCue to true
                set opacity of newCue to 0
            end tell
        end if
    end if
	
end tell
</pre> 
            </div> 
        </div>


        <div style="margin-bottom:100px">
            <h3 style="text-align:center;">
            {% comment %} <a href="{% url 'fadein' %}" style="color:#F39C12; text-align:center;"> Continue to the next exercise.</a> {% endcomment %}
            <a href="{% url 'scripts-index' %}" style="color:#F39C12; text-align:center;"> Return home.</a>
            </h3>
        </div>



    </div>
{% endblock content %}
