{% extends 'scripts/base.html' %}
{% load static %}
{% block content %}
    <div class='container'>
        <h1>some basic projector controls</h1>
        <div>
            <img src="{% static "media/tutes/proj/projmandict.png" %}" alt="img could not load" class="img-fluid m-2">
        </div>
        <div class='content-section m-2'>
            <p>Projector Manager is a free piece of software for controlling <span style="color:#F39C12;font-weight:bold">Panasonic Prjectors</span>. We can see here that 
            it operates a little differently than QLab. Here there are no properties to modify, just actions to execute. This is because there are no data objects, you're 
            making a physical change to the projector and then the script is done. Using the applescript dictionary and this script as a base, modify until you have scripts
            that will mute, unmute, power on and power off a projector.</p> 
            </div>
        <div>
            <img src="{% static "media/tutes/proj/mute.png" %}" alt="img could not load" class="img-fluid m-2">
        </div>

        <div style="margin-bottom:100px">
            <h3 style="color:#F39C12; text-align:center;">Scroll down for solutions.</h3>
        </div>
        <div>
            <img src="{% static "media/tutes/proj/unmute.png" %}" alt="img could not load" class="img-fluid m-2">
        </div>
        <div>
            <img src="{% static "media/tutes/proj/poweron.png" %}" alt="img could not load" class="img-fluid m-2">
        </div>
         <div>
            <img src="{% static "media/tutes/proj/poweroff.png" %}" alt="img could not load" class="img-fluid m-2">
        </div>
        <div style="margin-bottom:100px">
            <h3 style="text-align:center;">
            <a href="{% url 'scope' %}" style="color:#F39C12;">Continue to the next exercise.</a>
            </h3>
        </div>



    </div>
{% endblock content %}
